.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* .navbar {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

#home-card {
  margin: auto;
  border-width: 3px;
  border-style: solid;
  border-color: #287EC7;
  height: 400px;
  width: auto;
}

.home-card-btn {
  float: right;
}

.home-card-desc {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  float: right;
  width: 850px;
  height: 200px;
  margin: 0 15px 0 0;
}

.home-card-image {
  float: left;
  margin: 15px 15px 0 15px;
  width: 400px;
  height: 250px;
}


.App {
  text-align: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: rgb(201, 195, 195);

}

#body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */